venv/
__pycache__/
.env
backend/app/utils/*.jpg
backend/app/utils/*.jpeg
*.db

# Elastic Beanstalk
.elasticbeanstalk/
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
*.zip

# Python cache
*.pyc
__pycache__/

# IDE
.vscode/
.idea/

# OS
.DS_Store
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
